.site-name {
    color: black;
    font-size: 30px;
    padding-right: 30px;
}

/* style of the main body */
body {
    background-color: whitesmoke;
    font-family: avenir;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    width:50%

}/* Style the tab */
.tab {
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: rgb(214, 242, 247);
    color: black;
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
  }

.tab button:visited {
      background-color: rgb(214, 242, 247);
  }
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f1f1f1;
    color: black;
  }

.tab .focus {
    background-color: #b1d4fa;
    color: black;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
  }
